@model Epicode_U5_W3_D1.Models.Db_Models.T_Prodotto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdottoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredienti)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.TextBox("FkProdotto", Model.Id, new { @class = "d-none", @type = "number" })
    @Html.TextBox("Indirizzo", "", new { @class = "", @placeholder = "Inserisci indirizzo" })
    @Html.TextBox("Note", "", new { @class = "", @placeholder = "Aggiungi delle note" })
    @Html.DropDownList("quantita", Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))

    <input type="submit" value="Create" class="btn btn-default" />
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
