@model Epicode_U5_W3_D1.Models.Db_Models.T_Utenti

@{
    ViewBag.Title = "Details";
}

<div class="text-white">
    <h2>Dettagli utente</h2>
    <hr />
</div>



<div>
    <dl class="dl-horizontal text-white">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruolo)
        </dd>

    </dl>
</div>