
<div class="row row-cols-1 row-cols-md-2 justify-content-center align-items-center h-100" style="height: 70vh !important" >

    <div class="row row-cols-1">

        @if (!User.IsInRole("Admin"))
        {
            <div>
                <img src="~/Content/Assets/logo.png" class="w-75 mb-2" />
            </div>
        }



        <div class="text-white">
            @* Se sei loggato *@
            @if (User.Identity.IsAuthenticated)
            {
                @* Se sei un admin *@
                if (User.IsInRole("Admin"))
                {
                    <h3> Ciao @User.Identity.Name, </h3>
                    <p> Le solite operazioni di routine?</p>
                    @Html.ActionLink("Gestisci gli utenti", "Index", "Utenti", new { }, new { @class = "btn btn-outline-light d-block w-50 my-2" })
                    @Html.ActionLink("Gestisci i prodotti", "Index", "Prodotto", new { }, new { @class = "btn btn-outline-light d-block w-50 my-2" })
                    @Html.ActionLink("Visualizza gli ordini", "Index", "Ordine", new { }, new { @class = "btn btn-outline-light d-block w-50 my-2" })
                }

                @* Se sei un cliente*@
                else
                {
                    <h3> Ciao @User.Identity.Name, </h3>
                    <p> Ordinati una pizza dal nostro catalogo!</p>
                    @Html.ActionLink("Dai un'occhiata", "Index", "Prodotto", new { }, new { @class = "btn btn-outline-light" })
                }
            }
            @* Se non sei loggato *@
            else
            {
                <h3> Hai fame? </h3>
                <p> Accedi ed ordinati una pizza!</p>
                @Html.ActionLink("Accedi", "Login", new { }, new { @class = "btn btn-outline-light" })
            }
        </div>

    </div>



    <div class="">

        <img src="~/Content/Assets/PizzaHome.jpg" class="w-100"/>

    </div>

</div>