@model IEnumerable<Epicode_U5_W3_D1.Models.Db_Models.T_Ordine>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Admin"))
{
    <div class="row align-items-center">
        <div class="col-12 col-md-2">
            <label for="databox" class="text-white"> Filtro sulla data </label> <br />
            <input id="databox" dirname="databox" type="date" name="data" class="form-label" />
        </div>
        <div class="col-12 col-md-1">
            <input id="cerca" type="button" class="btn btn-outline-light" value="Filtra" />
        </div>
    </div>
}



<h3 id="totale" class="text-white"> TOTALE </h3>


<table class="table my-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>

        <th> @**@ </th>

        <th> @**@ </th>
    </tr>
    <tbody id="tbody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Indirizzo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>

                <td>
                    @if (item.Confermato)
                    {
                        <span> Arrivo stimato per @item.DataArrivo </span>
                    }
                </td>

                <td>
                    @if (!item.Confermato)
                    {
                        @Html.ActionLink("Modifica", "Edit", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink("Cancella", "Delete", new { id = item.Id })
                    }
                    @if (User.IsInRole("admin") && item.Confermato && !item.Evaso)
                    {
                        @Html.ActionLink("Evadi", "evadiOrdine", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Conferma Ordini", "confermaOrdine", new { }, new { @class = "btn btn-outline-light my-3" })

@section scripts
{
    <script>
        let a = '@User.IsInRole("admin")'
        console.log(a)
    </script>

    <script src="~/Scripts/OrdineIndex.js"></script>
}